/* week 05-02 lab */
* {
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
}
.company-1 {
    background-image: url(./images/company-name-1.png);
    background-position-x: 90%; 
    background-repeat: no-repeat; 
}
.company-2 {
    background-image: url(./images/company-name-2.png);
    background-position-x: 90%; 
    background-repeat: no-repeat; 
}
.jumbotron {
    background: #ccc;
    height: 377px;
    background-image: url(./images/silhouette.png);
    background-position-x: 90%; 
    background-repeat: no-repeat; 
}